.centralizer {
    display: flex;
    justify-content: center;
}
.width {
    width: 35%;
}
.padding {
    padding-left: 5rem;
}
.padding-tbody {
    padding-top: 2rem;
}
.min-table {
    min-width: 5rem;    
}
.margin {
    margin-right: 2rem;
}

.flex {
    display: flex;
    gap: 4rem;
}
mat-card {
    margin-bottom: 3rem;
}